.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.number{
    color: rgb(0, 0, 0);
}
