h1{
  text-align: center;
  font-size: 30px;
}

p{
  text-align: center;
}

a{
  background-color: rgb(28, 32, 133);
  border-radius: 4px;
  color: lightgrey;
  padding: 10px;
  text-decoration: none;
  width: 12%;
  text-align: center;
  margin-top: 20px;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(43, 37, 37);
  height: 60px;
  padding-bottom: 15px;
}

footer{
  background-color: rgb(43, 37, 37);
  height: 60px;
  margin-top: 10px;
  color: white;
}

nav a{
  background-color: rgb(28, 32, 133);
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #039aae;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer h3{
  text-align: center;
  margin-top: 20px;
}